<h1>Stars Page</h1>

<div class="row">
    <a class="btn btn-success" ng-click="starsModal()">Add Star</a>
</div>

<div class="row">
    <!--<div class="col-sm-4 col-md-3 col-lg-2" ng-repeat="star in stars" style="background-color: red; padding: 0;;height:200px;">

        <pre>{{star | json}}</pre>
        <a class="btn" href="#/star/{{ star._id }}/edit">Edit<a/>
        <div class="col-sm-4 col-md-3 col-lg-2" ng-repeat="star in stars | limitTo:totalDisplayed" style="background-color: red; padding: 0;;height:200px;">
        <div class="crop border">{{$index}}</div>
        <div class="crop border" style="background-image: url('C:/Users/user/Desktop/Obrazy/1.jpg');"></div>
        <div class="crop border" style="background-image: url('{{::star.path}}');"></div>
        <div class="crop border">
            <img src="{{star.functions.getThumbnail()}}" width="200" height="200">
        </div>
    </div>-->


    <div class="col-sm-4 col-md-3 col-lg-2" ng-repeat="star in stars" style="padding: 0;;height:300px;">
        <!--<div class="col-sm-4 col-md-3 col-lg-2" ng-repeat="d in stars | limitTo:totalDisplayed" style="background-color: red; padding: 0;;height:200px;">-->
        <!--<div class="crop border">{{$index}}</div>-->

        <div class="crop" style="background-image: url('{{ star.tmp.coverThumbnailPath }}');">
            <a class="btn" ng-href="#/star/{{star._id}}">Edit<a/>
            
        </div>
        <!--<div class="crop border" style="background-image: url('C:/Users/user/Desktop/Obrazy/1.jpg');"></div>-->
        <!--<div class="crop border" style="background-image: url('{{::d.path}}');"></div>-->
        <!--<div class="crop border" >
            <img src="{{d.path}}" width="200" height="200">
        </div>-->
    </div>
</div>

<button class="btn" ng-click="totalDisplayed=totalDisplayed+100">Load more</button>



<!-- src="https://i.redd.it/lchmxfcmiway.jpg"
-->