<div class="th-extended" >
    <span>{{ label }}</span>
    <div style="display: inline; margin: 20px" ng-show="showOrder" ng-class="{ highlight: filter.orderBy == property }">
        <i class="fa fa-arrow-down click" ng-show="filter.ascending" ng-click="reverseOrder()"></i>
        <i class="fa fa-arrow-up click" ng-hide="filter.ascending" ng-click="reverseOrder()"></i>
    </div>
    <div ng-show="showSearch" style="display: inline; margin: 20px" ng-class="{ highlight: (filter.pattern[property] && filter.pattern[property].length > 0) }">
        <input type="text" class="th-search-input form-control" placeholder="Search" ng-show="showSearchInput" ng-model="searchText"
            ng-model-options="{ debounce: 300 }"></input>
    </div>
</div>