<div class="keywords-view" ng-show="Ctrl.initialized">

    <!-- Search -->
    <div class="col-xs-12">
        <div class="input-group">
            <input id="search-input" class="form-control full-width" ng-show="Ctrl.multipleCollapsed" ng-class="{red: Ctrl.keywords.length === 0, green: Ctrl.keywords.length === 1}"
                ng-model="Ctrl.value" style="height:41px" placeholder="Search (Ctrl+F)">
            <textarea id="search-textarea" class="form-control full-width" rows="30" ng-hide="Ctrl.multipleCollapsed" ng-model="Ctrl.valueMultiple"></textarea>
            <!--<button class="btn btn-default full-width"><span class="pull-left"><i class="fa fa-sitemap"></i> Fills remaining width</span></button>-->
            <div class="input-group-btn" style="vertical-align: top">
                <button class="btn btn-success" ng-click="Ctrl.addKeyword()"><i class="fa fa-pencil"></i> Add <i class="shortcut">(Ctrl+S)</i></button>
                <button class="btn btn-default" ng-click="Ctrl.multipleCollapsed = !Ctrl.multipleCollapsed"><i class="fa fa-trash-o"></i> {{ Ctrl.multipleCollapsed ? 'Expand': 'Collapse'}}</button>
            </div>
        </div>
    </div>


    <!--Table-->
    <div class="col-xs-12">
        <div class="row" ng-show="Ctrl.multipleCollapsed">
            <div class="col-sm-12 ">
                <table class="table table-condensed table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th th-extended label="#" filter="Ctrl.keywordFilter" property="id" show-search="false" source="Ctrl.getKeywords()"/>
                            <th th-extended label="Values" filter="Ctrl.keywordFilter" property="value" source="Ctrl.getKeywords()"/>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyword in Ctrl.keywords" style="color: rgb(230,230,230)">
                            <!-- Idx -->
                            <td style="color:rgb(90,90,90)">{{$index + 1}}</td>
                            <!-- Value -->
                            <td style="font-family: monospace">
                                <span>{{keyword.value}}</span>
                            </td>
                            <!-- Open / Copy / Delte -->
                            <td>
                                <div class="pull-right">
                                    <a class="click" style="margin-right: 20px">Open</a>
                                    <a class="click" ng-click="Ctrl.copyText(keyword.value)" style="margin-right: 20px">Copy</a>
                                    <a class="click" ng-click="Ctrl.deleteKeyword(keyword)">Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>