<div class="keywords-view" ng-show="Ctrl.initialized">
    <div class="row">

        <div class="col-sm-12 ">
            <!-- Search -->
            <input id="search-input" class="form-control" ng-show="Ctrl.multipleCollapsed" ng-class="{red: Ctrl.keywords.length === 0, green: Ctrl.keywords.length === 1}"
                ng-model="Ctrl.value">

            <textarea ng-model="Ctrl.valueMultiple" id="search-textarea" class="form-control" rows="30" ng-hide="Ctrl.multipleCollapsed"></textarea>

            <button class="btn btn-success" ng-click="Ctrl.addKeyword(Ctrl.value)">
                Add
            </button>
            <button class="btn btn-default" ng-click="Ctrl.multipleCollapsed = !Ctrl.multipleCollapsed">
              {{ Ctrl.multipleCollapsed ? 'Expand': 'Collapse'}}
            </button>
        </div>
    </div>

    <!--Table-->
    <div class="row" ng-show="Ctrl.multipleCollapsed" >
        <div class="col-sm-12 ">
            <table class="table table-hover table-sm">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="keyword in Ctrl.keywords">
                        <td>{{$index + 1}}</td>
                        <!-- Value -->
                        <td>
                            <a>{{keyword.value}}</a>
                        </td>
                        <td>
                            <a class="click" ng-click="Ctrl.copyText(keyword.value)">Copy</a>
                            <a class="click pull-right">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>