<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Data sources</div>
                <div class="card-block">
                    <div class="row" ng-repeat="dataSource in dataSources | orderBy: 'path' track by $index" style="margin-bottom: 10px">
                        <div class="btn-group fill-width show">
                            <button type="button" class="btn fill-width text-left"ng-class="dataSource.invalid ? 'btn-warning' : 'btn-secondary'"> 
                               {{$index + 1}}. {{dataSource.path}}
                                </button>
                            <button type="button" class="btn btn-secondary show-on-hover" ng-click="removeDataSource(dataSource)">
                                <span >X</span>
                            </button>
                             
                        </div>
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-success" ng-click="addDataSourceDialog()">Add new</button>

                        <button class="btn btn-danger pull-right" ng-click="removeAllDataSources()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Settings</div>
                <div class="card-block">

                    <form>
                        <div class="form-group row input-button">
                            <div class="col col-sm-9 no-padding">
                                <input type="text" class="form-control" placeholder="asdasd">
                            </div>
                            <div class="col col-sm-3 no-padding">
                                <button class="btn btn-secondary btn-block">Button</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>