<div>
    <div class="row">
        <div class="col-lg-6">
            <!-- Data Sources -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-database" aria-hidden="true"></i> Data sources
                </div>
                <div class="card-block">
                    <div style="max-height: 500px; overflow-y: auto">
                        <div class="row" ng-repeat="dataSource in dataSources | orderBy: 'path' track by $index" style="margin-bottom: 0px">
                            <div class="btn-group fill-width show">
                                <button type="button" class="btn fill-width text-left" ng-class="dataSource.invalid ? 'btn-warning' : 'btn-secondary'"> 
                               {{$index + 1}}. {{dataSource.path}}
                                </button>
                                <button type="button" class="btn btn-secondary show-on-hover" ng-click="removeDataSource(dataSource)">
                                <span >X</span>
                            </button>

                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <button class="btn btn-success" ng-click="addDataSourceDialog()">
                            <i class="fa fa-plus"></i>
                            Add new
                        </button>

                        <button class="btn btn-danger pull-right" ng-click="removeAllDataSources()">
                            <i class="fa fa-trash-o"></i>
                            Remove all
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Paths -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-database" aria-hidden="true"></i> Paths
                </div>
                <div class="card-block">

                    <form>
                        <!--<div class="form-group row input-button">
                            <div class="col col-sm-9 no-padding">
                                <input type="text" class="form-control" ng-model="settings.">
                            </div>
                            <div class="col col-sm-3 no-padding">
                                <button class="btn btn-secondary btn-block">Button</button>
                            </div>
                        </div>-->
                        <label>Global data path</label>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" ng-model="settings.paths.globalData">
                            <div class="input-group-addon" ng-click="browseGlobalData()">Browse</div>
                        </div>

                        <label>Thumbnail generator path</label>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" ng-model="settings.paths.thumbnailGenerator">
                            <div class="input-group-addon" ng-click="browseThumbnailGenerator()">Browse</div>
                        </div>

                        <button type="submit" class="btn large btn" ng-click="getSettings()">
                            <i class="fa fa-refresh"></i> Reload
                        </button>
                        <button type="submit" class="btn large btn-success pull-right" ng-click="saveSettings()">
                             <i class="fa fa-floppy-o"></i> Save
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>