<div class="container">
    <h1>Settings page</h1>

    <div class="row">
        <button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o fa-2x"></i> Save</a></button>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Data sources</div>
                <div class="card-block">
                    <h3 class="card-title">List</h3>
                    <ul>
                        <li ng-repeat="dataSource in settings.dataSources track by $index">
                            {{dataSource}}
                        </li>
                    </ul>
                    <button class="btn btn-secondary" ng-click="addDataSource()">Add empty</button>
                    <button class="btn btn-secondary" ng-click="addDataSourceDialog()">Add d</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Settings</div>
                <div class="card-block">

                    <form>
                        <div class="form-group row input-button">
                            <div class="col col-sm-9 no-padding">
                                <input type="text" class="form-control" placeholder="Path" ng-model="settings.path">
                            </div>
                            <div class="col col-sm-3 no-padding">
                                <button class="btn btn-secondary btn-block" ng-click="setGlobalSettingsPath()">{{(settings.path.length > 0 )? "Change": "Add"}}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>