<div>
    <div class="row">
        <div class="col-sm-4">
            <!-- Cover -->
            <div class="row">
                <div class="card fill-width" ng-class="{modyfied: star.tmp.coverThumbnailPath !== starOryginal.tmp.coverThumbnailPath}">
                    <div class="card-block fill-width" style="padding: 4px" files-drop="onFilesDropped($files, $event)">

                        <img class="fill-width" src="{{ star.tmp.coverFullPath }}" alt="cover">
                        <div class="caption">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Data -->
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-user"></i>
                    <span ng-show="view === 'Add'">Add Star</span>
                    <span ng-show="view === 'Edit'">Edit Star</span>
                </div>
                <div class="card-block">

                    <form>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Name</label>
                            <input type="text" class="form-control" ng-model="star.name" ng-class="{modyfied: star.name !== starOryginal.name}">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Another label</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                        </div>
                    </form>
                    <button class="btn btn-success" ng-show="view === 'Add'" ng-click="addStar()">
                        Add new star
                    </button>
                    <button class="btn btn-success" ng-show="view === 'Edit'" ng-click="saveStar()">
                        Save star
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>