<div class="">
    <div class="row">
        <div class="col col-sm-6">
            <h3>Data feeds</h1>
        </div>
        <div class="col col-sm-6 ">
            <button type="button" class="btn btn-success right" ng-click="datafeedModal()">Add new data feed</button>
            <button type="button" class="btn btn-default right" ng-click="collapseFilters = !collapseFilters">Filter data feeds</button>
        </div>
    </div>

    <!--Filters-->
    <div uib-collapse="collapseFilters">
        <div class="well well-lg">

            <div class="col-sm-3">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="filter.name" style="font-weight: bold">
            </div>
            <div class="col-sm-3">
                Type

            </div>
            <div class="col-sm-3">
                <label>Star</label>
                <stars-autocomplete ids="filter.stars_ids" max="1"></stars-autocomplete>
            </div>
            <div class="col-sm-3">
                Date
            </div>

        </div>
    </div>

    <!--Table-->
    <div class="row">
        <table class="table table-striped table-sm">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Range</th>
                    <th>Links</th>
                    <th>Star</th>
                    <th>Tags</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="datafeed in datafeeds">
                    <td>{{$index + 1}}</td>
                    <!-- Rank -->
                    <td>
                        <span uib-rating ng-model="datafeed.rank" max="5" state-on="'fa fa-star rank'" state-off="'fa fa-star-o rank'" aria-labelledby="custom-icons-1"
                            read-only="true"></span>
                    </td>
                    <!-- Name -->
                    <td class="text-white">
                        <a ng-href="#/datafeed/{{datafeed._id}}" style="cursor: pointer">{{datafeed.name}}</a>
                    </td>
                    <!-- Range -->
                    <td>Range</td>
                    <!-- Links -->
                    <td>
                        <a ng-show="datafeed.linkFrom && !datafeed.linkTo" ng-click="datafeed.functions.openLinkFrom(datafeed)">link</a>
                        <a ng-show="!datafeed.linkFrom && datafeed.linkTo" ng-click="datafeed.functions.openLinkTo(datafeed)">link</a>

                        <a ng-show="datafeed.linkFrom && datafeed.linkTo" ng-click="datafeed.functions.openLinkFrom(datafeed)">link form</a>
                        <span ng-show="datafeed.linkFrom && datafeed.linkTo">/</span>
                        <a ng-show="datafeed.linkFrom && datafeed.linkTo" ng-click="datafeed.functions.openLinkTo(datafeed)">link to</a>
                    </td>
                    <!-- Star -->

                    <!--ng-href="#/star/{{datafeed.star._id}}" -->
                    <td ng-mouseenter="createStarImagePopover(datafeed.star, scope)">
                        <a ng-mouseover="datafeed.star.popover=true" ng-mouseleave="datafeed.star.popover=false" uib-popover-html="starImagePopover"
                            popover-placement="left" popover-trigger="none" popover-is-open="starImagePopover != '' && datafeed.star.popover">{{datafeed.star.name}}</a></td>
                    <!-- Tags -->
                    <td>#swag</td>
                    <!-- Timestamp -->
                    <td>2016/12/12</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>