<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>{{windowTitle}} - MyMedia</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/libs/fontAwesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../node_modules/ng-tags-input/build/ng-tags-input.min.css" />
    <link rel="stylesheet" href="../node_modules/ng-tags-input/build/ng-tags-input.bootstrap.min.css" />
    <link rel="stylesheet" href="../content/styles/dark-theme.css" />
    <link rel="stylesheet" href="../content/styles/style.css" />
</head>

<body ng-controller="MainController as Ctrl" id="bootstrap-overrides" class="">
    <div class="supreme-container">
        <nav class="navigation-bar">
            <div class="form-inline">
                <div class="btn-group">
                    <a class="btn btn-default" ng-click="Ctrl.navigateBack()">&lt;</a>
                    <a class="btn btn-default" ng-click="Ctrl.navigateForward()">&gt;</a>
                </div>

                <div class="btn-group">
                    <a class="btn btn-default" href="#/stars">
                        <i class="fa fa-users" aria-hidden="true"></i> Stars
                    </a>
                    <a class="btn btn-default" href="#/datafeeds">
                        <i class="fa fa-cloud" aria-hidden="true"></i> Data feeds
                    </a>
                      <a class="btn btn-default" href="#/keywords">
                        <i class="fa fa-key" aria-hidden="true"></i> Keywords
                    </a>
                    <a class="btn btn-default" ng-click="Ctrl.mergeWindows()">Windows</a>
                </div>

                <!--<input type="text" class="form-control" placeholder="Search">-->
                <a class="btn btn-default right" href="#/settings">
                    <i class="fa fa-cogs" aria-hidden="true"></i> Settings
                </a>
            </div>
        </nav>

        <div>
            <div uib-alert ng-repeat="alert in Ctrl.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="alerts.splice($index, 1)">{{alert.message}}</div>
        </div>
        <div class="myview" ng-view></div>
    </div>

    <script>
        require('./app/app.js');
    </script>
</body>

</html>