.nonSelectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

nav{
    background-color: black
}

nav .btn{
    background-color: black;
}

.click{
    cursor: pointer;
}

.right {
    float: right;
}

.container {
    width: 98%;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0,0,0, 100);
  
}

::-webkit-scrollbar-thumb
{
  background: rgba(44,44,44, 100);
}

.ng-hide.ng-hide-animate {
  display: none !important;
}

/*------------------------ Navbar ---------------------------------*/
.navigation-bar {
    padding: 2px;
    padding-top: 5px;
    margin-bottom: 10px;
}


nav a:focus {
    text-decoration: transparent;
}

nav input {
    border: 0px;
}

nav input:focus {
}

/* Star Panel */

.gallery img {
    max-height: 200px;
}


.crop {
    width: initial;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*--------------------grid----------------------------*/
.nopad{
    padding-left: 0;
    padding-right: 0;
}


/*sections*/

.form-group{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*-----------------forms--------------------------*/
.input-group .form-control {
    z-index: 0;
}

 
/*-------------buttons---------------------------------------------*/
 
 .btn-tight{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
 }

.fill-width{
    width: 100%;
}

 .full-width {
  width: 100%;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.full-width span i {
  margin-right: 10px;
}

#bootstrap-overrides .btn, .btn:focus{
  border: 0 !important;
  box-shadow: 0 0 0 transparent inset, 0 0 0  transparent !important;
  outline: 0 none !important;
   border-color: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.show .show-on-hover{
    display: none;
}

.show:hover .show-on-hover{
    display: unset;
}


/*------------------ File drop directive----------------------------- */
.filesDrop--dragover{
    border: solid 1px blue;
    filter: blur(15px);
}

/* when data inside was modyfied */
.modyfied{
    border: 2px darkorange solid;
}

.no-padding-w{
    padding-left: 0;
    padding-right: 0;
}

/* ---------------Modals --------------------------------------*/

.modal-ex-lg {
    max-width: 1800px;
}

.modal-content {
    overflow: scroll;
    overflow-x: hidden;
}


.modal-dialog{
    overflow-y: initial !important
}

.modal-body{
    height: calc(100vh - 200px);
    overflow-y: auto;
}


/* fade background */
body.modal-open .supreme-container{
    /*-webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);*/
    filter: brightness(0%);
}

.modal.fade:not(.in) .modal-dialog {
    transform: translate3d(0, 0, 0);
}

/*----------- tables -------------------------------------------- */

/* stripped table */
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgb(30,30,30);
}

/* table extended headers  */
.table > thead > tr > th {
    vertical-align: top;
}

.th-extended{
    min-width: 60px;
}

.th-extended .th-search-input{
    margin: 10px 0 -10px 0;
    height: 30px;
}

/*--Table trunkate-*/
.ellipsis_cell > div {
    position: relative;
    overflow: hidden;
    height: 1em;
}

.ellipsis_cell > div > span {
    display: block;
    position: absolute; 
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
}

.ellipsis_cell > div:after {
    content: attr(title);
    overflow: hidden;
    height: 0;
    display: block;
}

/*-------------- icons -------------------------------------------- */
.fa.fa-star{
    color: gold;
}
.fa:focus{
    outline: 0;
}
.fa.rank{
    margin-right: 2px;
}
.fa-2x.rank{
    margin-right: 10px;
}
span:focus{
    outline: 0;
}




/*--------------- autoomplete --------------------------------------*/
.host .tags{ 
    color: rgb(200, 200, 200) !important;
    border: 0px;
    background-color: rgb(15, 15, 15) !important;
}
.tag-item{
    width: 250px !important;
    height: 72px !important;
    padding: 0px !important;
    border: 0 !important;
    background-color: black!important;
}

.tags > .input {
    background-color: transparent !important;
    /*width: 1px !important;*/
}

ti-autocomplete-match em {
  background-color: transparent !important;
  color: white !important;
}

.autocomplete .suggestion-list {
    max-height: 500px !important;
}
.autocomplete, .autocomplete .suggestion-item{ 
    color: rgb(200, 200, 200) !important;
    background-color: rgb(15, 15, 15) !important;
}

.autocomplete .suggestion-item.selected{ 
    color: rgb(200, 200, 200) !important;
    background-color: rgb(55, 55, 55) !important;
}

.parent-hover{
      opacity: 1;
     transition: opacity 0.3s;
}
.child-hover{
     opacity: 0;
     transition: opacity 0.6s;
}
.parent-hover:hover{
      opacity: 0.95;
}
.parent-hover:hover .child-hover{
      opacity: 1;
}


/*--------Pagination Controlls--------------------------------------------*/
.pagination{
    margin: 0;
    font-size: 15px;
}

.pagination  a {
    cursor: pointer;
}

.pagination li a {
    min-width: 60px;
}

.pagination li a {
    background-color: #303030;
}

.pagination .disabled a {
    background-color: transparent;
}

.pagination .active a {
    background-color:  #4E1E3C !important;
}

.pagination li a:hover {
    background-color:   #752D5A;
}

/*------Alertify--------------------------------------------------------*/

.alertify > .dialog > div {
    z-index: 999999;
    background-color: rgb(40,40,40);
    color: #ffffff;
    border: rgb(100,100,100) solid 2px;
}

.alertify nav  {
    background-color: transparent;
}

.alertify button  {
    color: #ffffff !important;
    background-color: rgb(60,60,60) !important;
}

.alertify button.ok  {
    background-color: #449d44 !important;
}

.alertify button.ok:hover  {
    background-color: #275828 !important;
}

.highlight i{
    color: orange !important;
}

.shortcut{
    opacity: 0.6;
}

.green:focus{
    border: 1px solid greenyellow;
}

.red:focus{
    border: 1px solid red;
}