<hr />

<pre>{{pagination | json}}</pre>

<!-- Page size -->
<form class="form-inline" style="position: absolute; right: 10px;">
    <label for="pagesize" style="color: grey">
        Page size
    </label>
    <input type="number" class="form-control" style="width: 80px" ng-blur="changePage(1)" ng-model="pagination.pageSize" />
</form>

<!-- Pages picker -->
<div class="text-center">
    <nav>
        <ul class="pagination">

            <!-- Go to first page -->
            <li ng-class="{disabled: !pageExists(pagination.page - 1)}">
                <a ng-click="changePage(1)">
                    <span aria-hidden="true">first</span>
                </a>
            </li>

            <!-- Go to previous page -->
            <li ng-class="{disabled: !pageExists(pagination.page - 1)}">
                <a ng-click="changePage(pagination.page - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-repeat="i in range(1, pagination.page)">
                <a ng-click="changePage(i)">{{i}}</a>
            </li>

            <!-- Current page -->
            <li class="active">
                <a href="">{{pagination.page}}</a>
            </li>

            <li ng-repeat="i in range(pagination.page + 1, pagination.pages + 1)">
                <a ng-click="changePage(i)">{{i}}</a>
            </li>

            <!-- Go to next page -->
            <li ng-class="{disabled: !pageExists(pagination.page + 1)}">
                <a ng-click="changePage(pagination.page + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <!-- Go to last page -->
            <li ng-class="{disabled: !pageExists(pagination.page + 1)}">
                <a ng-click="changePage(pagination.pages)">
                    <span aria-hidden="true">last</span>
                </a>
            </li>
        </ul>
    </nav>
</div>